<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Information_Management_System.Properties.Settings.SIMSConnectionString"
            connectionString="Data Source=T440;Initial Catalog=SIMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Student_Information_Management_System.Properties.Settings.SIMSConnectionString1"
            connectionString="Data Source=ENAN_PC;Initial Catalog=SIMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
